PORT=3001 # API port

NODE_ENV=dev-worker # dev-api, dev-worker, prod-api, prod-worker

JWT_SECRET_KEY=somesercretkey # your secret key, anything is ok
JWT_EXPIRED= # expire time of token by hour

SIGNATURE_TEXT=Please sign this message to verify your identity.

# notification
MAIL_HOST=smtp.gmail.com
MAIL_USER= # gmail account
MAIL_PASS= # gmail application key
MAIL_RECEIVED_ADDRESS= # email address that you want to receive the notification

# TYPEORM
TYPEORM_CONNECTION=mysql
TYPEORM_HOST=localhost # MySQL host
TYPEORM_PORT=3306 # MySQL port
TYPEORM_USERNAME=user # MySQL username
TYPEORM_PASSWORD=password # MySQL password
TYPEORM_DATABASE=db # schema name
TYPEORM_MIGRATIONS_DIR=src/database/migrations
TYPEORM_MIGRATIONS=dist/database/migrations/*.js
TYPEORM_ENTITIES_DIR=dist/**/*.entity.js

#BLOCK REQUEST
LIMIT_REQUEST=5
LIMIT_HOURS_BLOCK_REQUEST=4
EXPRIRE_TIME_TOKEN=3600

#CONFIG URL
URL_FRONTEND=
URL_BACKEND=
URL_API=